body{
  background:#0f172a;
  color:white;
  font-family:sans-serif;
  margin:0;
  display:flex;
  flex-direction:column;
  height:100vh;
}

.title{
  padding:10px;
  margin:0;
}

#chat{
  flex:1;
  padding:10px;
  overflow-y:auto;
}

.msg{
  margin:8px 0;
  padding:8px 10px;
  border-radius:8px;
  max-width:80%;
  font-size:14px;
}

.user{
  background:#1e293b;
  margin-left:auto;   /* يمين */
}

.bot{
  background:#0a0f1f;
  border:1px solid #475569;
}

#box{
  display:flex;
  padding:10px;
  background:#0a0f1f;
  gap:6px;
}

#txt{
  flex:1;
  padding:8px;
  border:none;
  border-radius:5px;
  background:#1e293b;
  color:white;
}

#send{
  border:none;
  padding:8px 12px;
  border-radius:5px;
  background:#22c55e;
  color:#022c22;
  font-weight:bold;
  cursor:pointer;
}